@"
# Python
__pycache__/
*.py[cod]
*.log
.pytest_cache/
.coverage
htmlcov/

~Virtualenv
.venv/
venv/

# Secrets
.env

# OS / IDE
.DS_Store
.vscode/
.idea/

# Reports
reports/
"@ | Out-File -Eoncoding UTF8 .gitignore
